registry=https://registry.npmjs.org/
# Preferir IPv4 (corresponde ao NODE_OPTIONS)
prefer-online=true
fund=false
audit=false

# Re-tentativas mais resilientes (não resolve ENETUNREACH, mas ajuda em flutuações)
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=120000
fetch-timeout=120000

# Se estiver atrás de proxy, descomente e ajuste:
# proxy=http://seu.proxy:3128
# https-proxy=http://seu.proxy:3128
# strict-ssl=false